<section>
    <td>
        <select name="data.rangedType" class="entry">
            {{#select data.rangedType}}
            {{#each config.rangedType as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select> 
    </td>
    <td>
        {{#if (eq data.rangedType "flexed")}}
        <select name="data.size" class="entry">
            {{#select data.size}}
            {{#each config.flexedSize as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select> 
        {{/if}}
        {{#if (eq data.rangedType "ballistic")}}
        <select name="data.size" class="entry">
            {{#select data.size}}
            {{#each config.ballisticSize as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select> 
        {{/if}}
    </td>
    <td>
        <input name="data.ammo" type="number" value="{{data.ammo}}" data-dtype="Number" />
    </td>
</section>